.main-cont
{

}
.nav-bar
{
    display:flex;
    background-color: black;
    color:white;
    height:50px;
    align-items: center;


}
.home
{
    display:flex;
    flex:2;

    justify-content:center;

}
.about-us
{
    display:flex;
    flex:2;
    justify-content:center;
}
.sign-in
{
    display:flex;
    flex:2;
    justify-content:center;
}